.navbar-logo {
    color: @navbar-default-brand-color;
    &:hover,
    &:focus {
      color: @navbar-default-brand-hover-color;
      background-color: @navbar-default-brand-hover-bg;
    }
    @media screen and (max-width: 568px) {
    	height: 60px;
    }
}
#content { 
	margin: 0 auto;
}
.copyright {
	margin-top: 30px;
	font-size: (@font-size-base);
	
}
@media screen and (max-width: 568px) {
    #footer {
    	display: none;
    }
}

p, .p {
	font-size: 20px; 
}


#middlenav{
	color: white;
	background-color: @antelope-green;	
	background-image: url("/images/globe.png");
	backgroung-repeat: norepeat;
	padding-left: 60px;
	padding-right: 60px;
	@media screen and (max-width: 568px) {
		padding-left: 0px;
		padding-right: 0px;
	}
}
.ourpurpose {
		margin-left: 0;
		margin-right: 0;
	}
.welcoming-title{
	//font-family: ff-meta-serif-web-pro, serif;
	font-size: (@font-size-base * 2.8)  !important;
	@media screen and (max-width: 568px) {
            font-size: (@font-size-base * 2) !important;
    }
}
.welcoming-subtitle{
	//font-family: ff-meta-serif-web-pro, serif;
	font-size: 24px; 
	@media screen and (max-width: 568px) {
            font-size: (@font-size-base * 1) !important;
    }
}
.ourwork { 
		margin-left: 0;
		margin-right: 0; 
		width: 100%
}
.equation {
	position: center;
}
.equation-element{
	height: 200px;
	.div {
		display:inline;
	}
}
.equationBox {
	border-radius: 5%;
	height: 150px;
	width: 150px;
	color: black;
	font-weight: 200;
	border-style: solid;
	border-width: 8px;
	border-color: #ccd4d6;
	padding: 10px;
	padding-top: 25px;
	display: inline-block;

}
.navbar {
	border: none;
}
.inline {
    display:inline;
}